sp/
figures/private/
0_network/data/sf_overpass
0_network/data/sf_osmnx
0_network/data/London_Directed/
0_network/data/**/target.osm
0_network/data/**/target*.osm
0_network/data/**/*.json
0_network/data/**/*.geojson
0_network/data/**/*.pkl
0_network/data/**/*.mtx
0_network/data/**/*.csv
0_network/data/**/*.tif
1_OD/old/
1_OD/input/planbayarea2040/
1_OD/output/*
1_OD/output_scaled/*
3_visualization/2017lines
3_visualization/**/*.geojson
3_visualization/**/*.csv
**/*.out
**/*.txt
**/*.csv
**/*.json
**/*.mtx
**/*.png
**/*.gif
**/*.xml
**/*.tsv
**/*.json.gz
**/*_profile_*.txt
**/*.DS_Store
**/*machine.file*
**/*slurm-*.out
**/*.log
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
